<html>
    <head>
        <meta charset="UTF-8">
        <title>{{website_title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </head>
    <body>
        <div id="console_wrapper">
            <div id="console">
                <span id="log"></span
                ><span id="prompt"
                    ><span class="green"
                        ><span id="user"></span
                            >@<span id="machine"></span></span
                        >:<span class="blue"
                            ><span id="path"></span> $ </span
                    ></span
                ><input id="input"><span id="pre_cursor"></span><span id="cursor">&nbsp;</span>
            </div>
        </div>
    </body>
</html>